<%- include('./_partials/header') %>

  <div class="container forms">
    <div class="row">
      <div id="searchGroup" class="col-sm-11 text-center">
        <form class="form-inline justify-content-center" action="/" method="POST">
          <div class="form-group">
            <input size="50" type="text" name="term" class="form-control" placeholder="What would you like?" <% if (searchRequest.term) { %> value="<%=searchRequest.term%>"<% }%> >
            <input size="50" required pattern=".+" type="text" name="location" class="form-control" placeholder="Where?" <% if (searchRequest.location) { %> value="<%=searchRequest.location%>"<% } %> >
            <span class="btn-group-vertical"></span>
          </div>
          <div class="searchBtn btn-group">
            <button class="searchBtn btn btn-info" type="submit">Search!</button>
            <button class="searchBtn btn btn-danger" formaction="/?random=true" type="submit">I'm Feeling Adventurous</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <% if (restaurantInfo[0]) {%>
      <div class="row">
        <% restaurantInfo.forEach(function(elem) { %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 card-holder">
            <div class="card">
              <img class="card-img-top" src="<%=elem.image_url%>" alt="Restaurant Image">
              <div class="card-block">
                <h4 class="card-title">
                  <%= elem.name %>
                </h4>
                <p class="card-text">
                  <%= elem.location.address1 %>
                </p>
                <% if (elem.rating > 4.5) { %>
                  <img class="star" src="https://i.imgur.com/Txb8gc7.png" alt="">
                <% } else if (elem.rating > 4) { %>
                  <img class="star" src="https://i.imgur.com/gqda4ac.png" alt="">
                <% } else if (elem.rating > 3.5) { %>
                  <img class="star" src="https://i.imgur.com/6SAS36b.png" alt="">
                <% } else if (elem.rating > 3) { %>
                  <img class="star" src="https://i.imgur.com/6vTujHW.png" alt="">
                <% } else if (elem.rating > 2.5) { %>
                  <img class="star" src="https://i.imgur.com/fGWvIdW.png" alt="">
                <% } else if (elem.rating > 2) { %>
                  <img class="star" src="https://i.imgur.com/foXPxGQ.png" alt="">
                <% } else if (elem.rating > 1.5) { %>
                  <img class="star" src="https://i.imgur.com/efkDsmw.png" alt="">
                <% } else if (elem.rating > 1) { %>
                  <img class="star" src="https://i.imgur.com/7CYmk0E.png" alt="">
                <% } else if (elem.rating > 0) { %>
                  <img class="star" src="https://i.imgur.com/URy6dxD.png" alt="">
                <% } else { %>
                  <img class="star" src="https://i.imgur.com/2bEGMs1.png" alt="">
                <% } %>
                <br>
                <div class="btn-group">
                  <a href="<%= elem.url %> " target="_blank"><button class='btn btn-danger'><i class="fa fa-yelp" aria-hidden="true"></i>Yelp</button></a>
                  <% if (user) {%>
                    <form class="form-inline" action="/party/<%=user.id%>" method="POST">
                      <input type="hidden" value="<%=elem.name%>" name="name">
                      <input type="hidden" value="<%=elem.location.address1%>" name="location">
                      <input type="hidden" value="<%=elem.url%>" name="url">
                      <button type="submit" class='btn btn-info'><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
                    </form>
                    <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>
  </div>


  <%- include('./_partials/footer') %>