<%- include('./_partials/header') %>

<div class ="container">
<br><br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <form class="form-inline" action="/" method="POST">
                <div class="form-group">
                    <input size="50" type="text" name="term" class="form-control" placeholder="What would you like to eat?" <% if (searchRequest.term) { %> value="<%=searchRequest.term%>" <% }%> >
                </div>
                <div class="form-group">
                    <input size="50" type="text" name="location" class="form-control" placeholder="Where?" <% if (searchRequest.location) { %> value="<%=searchRequest.location%>" <% } %> >
                    <span class="btn-group-vertical"></span>
                </div>
                    <button class="btn btn-success" type="submit">Go!</button><br><br>
                    <button class="btn btn-danger" formaction="/?random=true" type="submit">I'm feeling adventurous</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="results">
<% if (restaurantInfo[0]) {%>
    <% restaurantInfo.forEach(function(elem) { %>
        <div style="border: 1px solid black; margin: 0 auto; width: 300px">
        Name: <%= elem.name %><br>
        Rating: <%= elem.rating %><br>
        Location: <%= elem.location.address1 %><br>
        <% if (elem.rating > 4.5) { %>
            <img src="https://i.imgur.com/Txb8gc7.png" alt="">
            <% } else if (elem.rating > 4) { %>
            <img src="https://i.imgur.com/gqda4ac.png" alt="">
            <% } else if (elem.rating > 3.5) { %>
            <img src="https://i.imgur.com/6SAS36b.png" alt="">
            <% } else if (elem.rating > 3) { %>
            <img src="https://i.imgur.com/6vTujHW.png" alt="">
            <% } else if (elem.rating > 2.5) { %>
            <img src="https://i.imgur.com/fGWvIdW.png" alt="">
            <% } else if (elem.rating > 2) { %>
            <img src="https://i.imgur.com/foXPxGQ.png" alt="">
            <% } else if (elem.rating > 1.5) { %>
            <img src="https://i.imgur.com/efkDsmw.png" alt="">
            <% } else if (elem.rating > 1) { %>
            <img src="https://i.imgur.com/7CYmk0E.png" alt="">
            <% } else if (elem.rating > 0) { %>
            <img src="https://i.imgur.com/URy6dxD.png" alt="">
            <% } else { %>
            <img src="https://i.imgur.com/2bEGMs1.png" alt="">
            <% } %>
        <button href="#" class='btn btn-xs btn-warning'>add</button>
        <a href="<%= elem.url %> ">To Yelp</a>
        </div>
    <% }) %>
<% } %>
</div>	
</div>

<%- include('./_partials/footer') %>