<%- include('./_partials/header') %>


<div class ="container"><br><br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <form class="form-inline" action="/" method="POST">
                    <input size="50" type="text" name="term" class="form-control" placeholder="What would you like to eat?" <% if (searchRequest.term) { %> value="<%=searchRequest.term%>" <% }%> >
                
                <div class="form-group">
                    <input size="50" type="text" name="location" class="form-control" placeholder="Where?" <% if (searchRequest.location) { %> value="<%=searchRequest.location%>" <% } %> >
                    <span class="btn-group-vertical"></span>
                </div>
                    <button class="btn btn-success" type="submit">Go!</button><br><br>
                    <button class="btn btn-danger" formaction="/?random=true" type="submit">I'm feeling adventurous</button>
                    <% if (user) { %>
                    <a href='/users/<%=user.id%>' class="btn btn-success">Go to itinerary</a>
                    <% } %>
            </form>
        </div>
    </div>
</div>
<br><br>


<div class="container devborder">
        <% if (restaurantInfo[0]) {%>
        <div class="row devborder">
        <% restaurantInfo.forEach(function(elem) { %>
        <div class="col-sm-12 col-md-6 col-lg-4 card-holder">
        
    <div class="card devborder">
            <img class="card-img-top" src="<%=elem.image_url%>" alt="Card image cap" style="max-height: 318px;">
            <div class="card-block">
              <h4 class="card-title"><%= elem.name %></h4>
              <p class="card-text"><%= elem.location.address1 %></p>
              <% if (elem.rating > 4.5) { %>
                  <img src="https://i.imgur.com/Txb8gc7.png" alt="">
              <% } else if (elem.rating > 4) { %>
                  <img src="https://i.imgur.com/gqda4ac.png" alt="">
              <% } else if (elem.rating > 3.5) { %>
                  <img src="https://i.imgur.com/6SAS36b.png" alt="">
              <% } else if (elem.rating > 3) { %>
                  <img src="https://i.imgur.com/6vTujHW.png" alt="">
              <% } else if (elem.rating > 2.5) { %>
                  <img src="https://i.imgur.com/fGWvIdW.png" alt="">
              <% } else if (elem.rating > 2) { %>
                  <img src="https://i.imgur.com/foXPxGQ.png" alt="">
              <% } else if (elem.rating > 1.5) { %>
                  <img src="https://i.imgur.com/efkDsmw.png" alt="">
              <% } else if (elem.rating > 1) { %>
                  <img src="https://i.imgur.com/7CYmk0E.png" alt="">
              <% } else if (elem.rating > 0) { %>
                  <img src="https://i.imgur.com/URy6dxD.png" alt="">
              <% } else { %>
                  <img src="https://i.imgur.com/2bEGMs1.png" alt="">
              <% } %><br>
              <div class="btn-group">
              <a href="<%= elem.url %> " class="btn btn-primary">To Yelp</a><br><br>
             <% if (user) {%>
                <form class="form-inline" action="/users/<%=user.id%>" method="POST">
                    <input type="hidden" value="<%=elem.name%>" name="name">
                    <input type="hidden" value="<%=elem.location.address1%>" name="location">
                    <input type="hidden" value="<%=elem.url%>" name="url">
                    <button type="submit" class='btn btn-warning'>add</button>
                </form>
                <% } %>
            </div>
            </div>
        </div>
        </div>        
        <% }) %>
    </div>
    <% } %>
    </div>


<%- include('./_partials/footer') %>