<%- include('./../_partials/header') %>

<!-- container to hold all itinerary stops -->
<div class="container row">
    <div class="mainBlock col-xs-12 col-sm-12 col-md-8">
<table class="col-xs-12 col-sm-11 col-md-10">
    <% if (user) { %>
        <% if (user.id === pageId) { %>
<tr class="itin">
    <td><a class="btn btn-warning" href='/'>Add More</a> </td>
    <td class="tableHead">Where The Party's App:</td>
    <td>
        <% if (stops && stops.length) { %>
        <form action="/party/all?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Clear Party</button>
        </form>
        <% } %>
    <% } %>
    </td>
</tr>
    <% } %>
<!--will up down arrows -->
<% if (stops) {%>
    <% stops.forEach(function(stop, idx) { %>
        <tr class="itin">
            <td>
                <% if (user) { %>
                    <% if (user.id === pageId) { %>   
                        <% if (idx === 0 && stops.length === 1) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                        <% } else if (idx == 0) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                        <% } else if (idx < stops.length -1) { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                        <% } else { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                        <% } %>
                    <% } else { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                    <% } %>
                <% } %>
            </td>
            <!-- holds stop data -->
            <td>
            Name: <%= stop.name %><br>
            Location: <%= stop.location %><br>
            </td>
            <td>
            <!-- adds delete if user owns page -->
                <% if (user) { %>
                    <% if (user.id === pageId) { %>
                        <form action='/party/<%= pageId %>?_method=DELETE' method='POST'>
                            <input type='hidden' value='<%=stop.id%>' name="stop_id">
                            <button class="btn btn-danger btn-sm">remove</button>
                        </form>
                    <% } %>
                <% } %>        
                <button class="btn btn-info btn-sm"><a style="color: white;" href="<%= stop.yelpUrl %>" target="blank" class="yelp"><i class="fa fa-yelp" aria-hidden="true"></i>To Yelp</a><br></button>
            </td>  
        </tr>
    <% }); %>
    <% } %>
</table>
</div>

    <!-- comments go here -->
    <div class="commentBlock col-sm-3 col-md-3" style="margin: 0 auto;">
    <% if (user) { %>
    <div style="text-align: center; width:80%" class="container">
    <form action="/party/comment" method="POST">
        <input type="text" name="text" class="form-control" placeholder="add comment..." style="margin-bottom: 5px">
        <input type="hidden" name="name" class="form-control" placeholder="">
        <button type="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i>Add Comment</button>
    </form><br>

    <% } %>
    <div class='commentTable container'>
    
        <div class="itin" style="min-width: 130px">
    <h4 class="" style="border-radius: none;">Comments</h4>
</div>
    <table id="comments">
        <% userPage.comments.forEach(comment => { %>
            <tr class="itin">
                <td><%= comment.name %></td>
                <td><%= comment.text %></td>
                <td>
                <% if (user) { %>
                    <form action='/party/out?_method=DELETE' method='POST'>
                        <input type='hidden' value='<%=comment.id%>' name="comment_id">
                        <button class="btn btn-danger btn-sm">remove</button>
                    </form>
                <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
</div>
</div>
</div>

</div>


<%- include('./../_partials/footer') %>