<%- include('./../_partials/header') %>
<div class="backdiv">
<a class="btn btn-warning" href='/'>Add More to Your Itinerary</a> <br> 
</div>
<br>

<!-- container to hold all itinerary stops -->
<div class="container">
<table class="col-sm-12">
    
<% if (stops) {%>
    <% stops.forEach(function(stop, idx) { %>
        <tr class="itin">
            <!--will up down arrows -->
            <td style="border: 1px solid black; padding: 0 5px 0 5px">
                 <% if (user) { %>   
                    <% if (idx == 0) { %>
                    <a href="/party/move?dir=d&id=<%=stop.id%>">DOWN</a>
                    <% } else if (idx < stops.length -1) { %>
                    <a href="/party/move?dir=u&id=<%=stop.id%>">UP</a>
                    <a href="/party/move?dir=d&id=<%=stop.id%>">DOWN</a>
                    <% } else { %>
                    <a href="/party/move?dir=u&id=<%=stop.id%>">UP</a>
                    <% } %>
                <% } %>
            </td>
            <!-- holds stop data -->
            <td style="border: 1px solid black">
            Name: <%= stop.name %><br>
            Location: <%= stop.location %><br>
            Time: <%= stop.time %>
            </td>
            <td style="border: 1px solid black">
                <% if (user) { %>
                    <% if (user.id === pageId) { %>
                        <form action='/party/<%= pageId %>?_method=DELETE' method='POST'>
                            <input type='hidden' value='<%=stop.id%>' name="stop_id">
                            <button class="btn btn-danger btn-sm">remove</button>
                        </form>
                        <form action="?_edit=<%= stop.id %>" method="GET">
                            <input type='hidden' value='<%=stop.id%>' name="edit">
                                <button class="btn btn-warning btn-sm">edit</button>
                            
                        </form>
                        <% if (edit == stop.id) { %>
                            <form>
                                <input type="text" value="<%stop.time%>" name="time">
                                <button>edit</button>
                            </form>
                        <% } %>
                    <% } %>
                <% } %>
                            
                <button class="btn btn-info btn-sm"><a style="color: white;" href="<%= stop.url %>" target="blank" class="yelp">To Yelp</a><br></button>
            </td>  
        </tr>
    <% }); %>
    <% } %>
</table>

<!-- comments go here -->
<div class="btnholder">
    <!-- <a class="btn btn-warning" href="/party/<%= pageId %>/comments/new">Add New Comment</a> -->
    <% if (stops && stops.length) { %>
        <form action="/party/all?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Clear Party</button>
        </form>
    <% } %><br><br>

    <form action="/party/comment" method="POST">
        <input type="text" name="text" class="form-control" placeholder="add comment..."><br>
        <button type="submit" class="btn btn-danger">add comment</button>
    </form><br>
    
    <h4 style="color:white">Comments:</h4>
    <% user.comments.forEach(comment => { %>
        <div class="row">
            <div style="background-color: black; color:white"><%= comment.text %></div>
        </div>
        <form action='/party/out?_method=DELETE' method='POST'>
            <input type='hidden' value='<%=comment.id%>' name="comment_id">
            <button class="btn btn-danger btn-sm">remove comment</button>
        </form>
    <% }) %>
</div>

</div>


<!-- 

<% if (pageId.comments) {%>
    <% pageId.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.name %></strong>
                <p>
                    <%= comment.text %> 
                </p>
            <% if (user && comment.author.id.equals(user.id)){ %>
                <a class="btn btn-xs btn-warning" 
                href="/party/<%=user._id %>/comments/<%=comment._id %>/edit">Edit</a>
                <br>
                <form id="delete-form" action="/campgrounds/<%=user._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                </form>
            <% } %>
            </div>
        </div>
    <% }) %>
<% } %> -->


<%- include('./../_partials/footer') %>