<%- include('./../_partials/header') %>

  <!-- container to hold all itinerary stops -->
  <div class="container row">
    <div class="mainBlock col-xs-12 col-sm-12 col-md-8">
      <table class="col-xs-12 col-sm-11 col-md-10">
        <% if (user) { %>
          <% if (user.id === pageId) { %>
            <tr class="itin">
              <td><a class="btn btn-warning" href='/'>Add More</a></td>
              <td class="tableHead">The Party's App:</td>
              <td>
                <% if (stops && stops.length +1) { %>
                  <form action="/party/all?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Clear Party</button>
                  </form>
                  <% } %>
              </td>
            </tr>
            <% } %>
          <% } %>
          <!--will up down arrows -->
          <% if (stops) { %>
            <% stops.forEach(function(stop, idx) { %>
              <tr class="itin">
                <td>
                  <% if (user) { %>
                    <% if (user.id === pageId) { %>
                      <% if (idx === 0 && stops.length === 1) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                      <% } else if (idx == 0) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                      <% } else if (idx < stops.length -1) { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                      <% } else { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                      <% } %>
                    <% } else { %>
                      <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                      <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                    <% } %>
                  <% } else { %>
                    <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                    <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                  <% } %>
                </td>
                <!-- holds stop data -->
                <td>
                  <span class="table"><%= stop.name %></span><br>
                  <%= stop.location %><br>
                </td>
                <td>
                  <!-- adds delete if user owns page -->
                  <% if (user) { %>
                    <% if (user.id === pageId) { %>
                      <form action='/party/<%= pageId %>?_method=DELETE' method='POST'>
                        <input type='hidden' value='<%=stop.id%>' name="stop_id">
                        <button class="table btn btn-danger btn-sm">remove</button>
                      </form>
                    <% } %>
                  <% } %>
                  <a style="color: white;" href="<%= stop.yelpUrl %>" target="blank" class="yelp"><button class="table btn btn-info btn-sm"><i class="fa fa-yelp" aria-hidden="true"></i>To Yelp</button></a><br>
                </td>
              </tr>
            <% }); %>
          <% } %>
      </table>
    </div>
    <!-- share buttons go here -->
    <div class="commentBlock col-md-3" style="padding: 0; float: left;">
      <div class='commentTable container'>
        <div class="itin col-12"style="font-size: 10px;">
        <i class="shareIcon fa fa-snapchat-square fa-2x" aria-hidden="true"></i><i class="shareIcon fa fa-facebook-square fa-2x" aria-hidden="true"></i><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><br>
        <i class="fa fa-share" aria-hidden="true"></i> Share this link:<br> wtpa.herokuapp.com/party/<%=pageId%></div>
        <div class="itin col-12" style="margin-top: 10px; min-width: 130px">
        <!-- comments go here -->
          <h4>Comments:</h4>
        </div>
        <table id="comments" class="col-12">
          <% userPage.comments.forEach(comment => { %>
            <tr class="commentBox itin">
              <td>
                <div class="commentDeleteBtn">
                  <% if (user) { %>
                    <% if (user.id === pageId || user.name == comment.name) { %>
                      <form action='/party/out/<%=pageId%>?_method=DELETE' method='POST'>
                        <input type='hidden' value='<%=comment.id%>' name="comment_id">
                        <button class="commentDeleteBtn btn btn-danger btn-sm">X</button>
                      </form>
                    <% } %>
                  <% } %>
                  <br>
                </div>
                <div style="float:left; padding-left: 20px;">
                  <span style="font-size: 20px;"><%= comment.name %></span><br>
                  <span>• <%= comment.text %></span>
                </div>
              </td>
            </tr>
          <% }) %>
        </table>
        <% if (user) { %>
          <div class="" style="margin: 0 auto; text-align: center;" class="container">
            <form action="/party/comment/<%= pageId %>" method="POST">
              <input id="commentIn" type="text" name="text" class="form-control" placeholder="add comment...">
              <button type="submit" class="col-12 btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i>Add Comment</button>
            </form><br>
          </div>
          <% } %>
      </div>
    </div>
  </div>


  <%- include('./../_partials/footer') %>