<%- include('./../_partials/header') %>

<!-- container to hold all itinerary stops -->
<div class="container row">
    <div class="mainBlock col-xs-12 col-sm-12 col-md-8">
<table class="col-xs-12 col-sm-11 col-md-10">
    <% if (user) { %>
        <% if (user.id === pageId) { %>
<tr class="itin">
    <td><a class="btn btn-warning" href='/'>Add More</a> </td>
    <td class="tableHead">Where The Party's App:</td>
    <td>
        <% if (stops && stops.length) { %>
        <form action="/party/all?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Clear Party</button>
        </form>
        <% } %>
    <% } %>
    </td>
</tr>
    <% } %>
<!--will up down arrows -->
<% if (stops) { %>
    <% stops.forEach(function(stop, idx) { %>
        <tr class="itin">
            <td>
                <% if (user) { %>
                    <% if (user.id === pageId) { %>   
                        <% if (idx === 0 && stops.length === 1) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                        <% } else if (idx == 0) { %>
                        <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                        <% } else if (idx < stops.length -1) { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <a href="/party/move?dir=d&id=<%=stop.id%>"><i class="downArrow fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></a>
                        <% } else { %>
                        <a href="/party/move?dir=u&id=<%=stop.id%>"><i class="fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></a>
                        <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <span><i class="dead fa fa-3x fa-arrow-circle-up" aria-hidden="true"></i></span>
                    <span><i class="dead fa fa-3x fa-arrow-circle-down" aria-hidden="true"></i></span>
                <% } %>
            </td>
            <!-- holds stop data -->
            <td>
            <span class="table"><%= stop.name %></span><br>
            Location: <%= stop.location %><br>
            </td>
            <td>
            <!-- adds delete if user owns page -->
                <% if (user) { %>
                    <% if (user.id === pageId) { %>
                        <form action='/party/<%= pageId %>?_method=DELETE' method='POST'>
                            <input type='hidden' value='<%=stop.id%>' name="stop_id">
                            <button class="table btn btn-danger btn-sm">remove</button>
                        </form>
                    <% } %>
                <% } %>        
                <button class="table btn btn-info btn-sm"><a style="color: white;" href="<%= stop.yelpUrl %>" target="blank" class="yelp"><i class="fa fa-yelp" aria-hidden="true"></i>To Yelp</a><br></button>
            </td>  
        </tr>
    <% }); %>
    <% } %>
</table>
</div>

    <!-- comments go here -->
    <div class="commentBlock col-md-4" style="padding: 0; margin: 0 auto;">
            <div class='commentTable container'>
                    <div class="itin col-12" style="margin-top: 10px; min-width: 130px">
                <h4>Comments:</h4>
            </div>
   
    <table id="comments" class="col-12">
        <% userPage.comments.forEach(comment => { %>
            <tr class="itin">
                 <td>
                        <% if (user) { %>
                            <% if (user.id === pageId || user.name == comment.name) { %>
                            <form action='/party/out/<%=pageId%>?_method=DELETE' method='POST'>
                                <input type='hidden' value='<%=comment.id%>' name="comment_id">
                                <button style="float: right;" class="btn btn-danger btn-sm">X</button>
                            </form>
                            <% } %>
                        <% } %>
                        <br>
                    <span style="font-size: 20px;"><%= comment.name %></span><br>
                    <span>• <%= comment.text %></span>
                </td>
            </tr>
        <% }) %>
    </table>
    <% if (user) { %>
        <div class="" style="margin: 0 auto; text-align: center;" class="container">
        <form action="/party/comment/<%= pageId %>" method="POST">
            <input type="text" name="text" class="form-control" placeholder="add comment..." style="margin-bottom: 5px">
            <button type="submit" class="col-12 btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i>Add Comment</button>
        </form><br>
        </div>
        <% } %>
</div>
</div>
</div>

</div>


<%- include('./../_partials/footer') %>