<%- include('./../_partials/header') %>
<h1 class="showtop">When's The Party At?</h1>
<div class="backdiv">
<a class="back" href='/'>Add More to Your Itinerary</a> <br> 
</div>
<br>
<% if (itineraryStops) {%>
  <div class="d-inline-flex p-2" id="col">
  <% itineraryStops.forEach(function(stop) { %>
      <div class="itin">
          Name: <%= stop.name %><br>
          Location: <%= stop.location %><br>
          <button class="btn btn-xs btn-danger">remove</button>
          <a href="<%= stop.url %> " class="yelp">To Yelp</a><br>
      </div>
  <% }) %>
  </div>
<% } %>

<div class="btnholder">
    <a class="btn btn-success" href="/users/<%= pageId %>/comments/new">Add New Comment</a>
</div>

<% if (pageId.comments) {%>
    <% pageId.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.name %></strong>
                <p>
                    <%= comment.text %> 
                </p>
            <% if (user && comment.author.id.equals(user.id)){ %>
                <a class="btn btn-xs btn-warning" 
                href="/users/<%=user._id %>/comments/<%=comment._id %>/edit">Edit</a>
                <form id="delete-form" action="/campgrounds/<%=user._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                </form>
            <% } %>
            </div>
        </div>
    <% }) %>
<% } %>


<%- include('./../_partials/footer') %>